body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-13xl: 32px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-darkslategray-100: #283149;
  --color-silver-100: #c9c7c7;
  --color-gainsboro: #d9d9d9;
  --color-whitesmoke: #eceaea;

  /* Border radiuses */
  --br-xl: 20px;
  --br-3xs: 10px;
}
